{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "ie": 10
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    // 解决多个地方使用相同代码导致打包重复的问题
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "exclude": "node_modules/**"
}