<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://rawgit.com/NARUTOne/resources-github/master/demo/demo-theme.css">
  <link rel="stylesheet" href="./style.css">
  <script src="./fl-model.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="demo-box">
		<div class="demo-content">
			<div id="app">
        <input type="text" v-model="name">
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <h3>v-bind形式：</h3>
                            <h3 v-bind="name">dom 深度遍历</h3>
                            <h3>{{}}}形式：</h3>
                            <h3>{{ name }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" v-model="testData1">
        <h3>{{ testData1 }}</h3>
        <input type="text" v-model="testData2">
        <h3>{{ testData2 }}</h3>
      </div>
		</div>
	</div>
</body>
</html>
